@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

html{
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    width: 100%;
    height: 100%;
    
}

body{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    
}

p{
    color:black;
    line-height: 1.9rem;
    font-size: 1.4rem;
    text-align: left;
}

span{
    color:rgb(173, 141, 80);
}



.burger{
    display: block;
}


.title-section{
    font-size: 5rem;
    margin-bottom: 25px;
    font-weight: 500;
    text-align: center;
}

.cta{
    display: inline-block;
    font-size: 4rem;
    margin-top: 50px;
    color:white;
    border: white solid 2px;
    padding: 15px 80px;
    font-weight:300;
    font-size: 2rem;
}

.cta:hover{
    background-color: white;
    color:black;
    transition: 1s ease;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Hero Section */
#hero{
    background-image: url('images/eu.png');
    background-position: top left;
    background-size: cover;
    
}


#hero .hero{
    position: relative;
    justify-content: flex-start;

    padding: 0px 50px;
    z-index: 1;
}

/* Veniz preto */
#hero .hero::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: black;
    opacity: 0.6;
    z-index: -1;

}

#hero h1{
    position: relative;
    display: block;
    width: fit-content;
    font-size: 4rem;
    color:transparent;
    animation: textReveal 1s forwards;
    animation-delay: 1.5s;
    font-weight: 300;

}

#hero span{
    top:0;
    left:0;
    width: 0%;
    height: 100%;
    position: absolute;
    animation: overlay 1s forwards;
    animation-delay: 1s;
    background-color: rgb(173, 141, 80);
}




/* End Hero Section */

/* Description Section */
    /* Top */
#description .description{
    flex-direction: column;
    justify-content: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 50px 0;
    /* align-items: center; */

}

#description .description-top{
    width: 85%;
    text-align: center;
}



#description .description-top p{
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    margin-bottom: 50px;
}
    /* End Top */
    
    /* Bottom */
#description .description-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    margin-top: 50px;
}

#description .description-item{
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    padding: 30px;
    margin-top: 15px;
    border-radius: 10px;
    background-image: url('./images/owl2.jpg');
    background-size: cover;
    margin: 10px;
    background-position: top center;
    position: relative;
    overflow: hidden;
    z-index: 0;
    
}

#description .description-item::after{
    content: "";
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    opacity: 0.6;
    z-index: -1;
    
}

#description .description-bottom h1{
    font-size: 2.5rem;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
}
#description .description-bottom p{
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    font-weight: 100;
}


#description .description-bottom .icon{
    width: 60px;
    margin-bottom: 15px;
}

    /* End Bottom */

/* End description Section */

/* Discovery Section */
#discoverys .discoverys{
    display: flex;
    flex-direction: column;
    text-align: left;

}

#discoverys .discovery-header{

    width:80%;
    margin: 70px auto;


}

#discoverys .discovery-items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    
}

#discoverys .discovery-item{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    width: 80%;
    margin-bottom: 40px;
    background-image: linear-gradient(60deg, rgb(24, 24, 24) 0%, rgb(53, 53, 53) 100%);
    border-radius: 10px;
    overflow: hidden;
    
}

#discoverys  .discovery-info{
    padding: 30px;
}

#discoverys .discovery-item h1{
    font-size: 3.5rem;
    margin-bottom: 5px;
    color: white;
    font-weight: 300;
    

}

#discoverys .discovery-item h2{
    font-size: 2rem;
    margin-bottom: 5px;
    color: white;
    font-weight: 200;


}

#discoverys .discovery-item p{
    font-size: 1.6rem;
    color: white;
    font-weight: 100;

}

#discoverys .discovery-image{
    overflow: hidden;
    position: relative;
}

#discoverys .discovery-image::after{
    position: absolute;
    content: "";
    left:0;
    top:0;
    width: 100%;    
    height: 100%;
    background-color: black;
    opacity: 0.3;
}

#discoverys .discovery-image img{
    height: 330px;
    transition: transform 0.2s;
}

#discoverys .discovery-item:hover img{
    transform: scale(1.2);
    

}
/* end Discovery Section  */

/* About Section */

#about{
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .about{
    flex-direction: column;
    max-width: 1200px;
    text-align: center;
    width: 85%;

}

    /* Download Button */
#about .col-right .cta{  
    cursor: pointer;
    color:black;
    border: black solid 2px;
    margin-bottom: 50px;
}
#about .col-right .cta:hover{
    background-color: black;
    color:white;
}



    /* Description */
#about .col-right p{
    text-align: center;
    
}
    /* Image */
#about .col-left .owl-image{
    
    width: 100%;
    height: 100%;
    position: relative;
    border: 4px solid white;
    
    
}

#about .col-left .owl-image::after{
    content: "";
    position: absolute;
    z-index: -1;
    border: 6px solid black;
    top:8px;
    left: -10px;
    width: 100%;
    height: 98%;

}

#about img{
    width: 250px;
    
}
/* End About Section */

#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#contact .contact{
    flex-direction: column;
    justify-content: flex-start;

}

#contact .contact-boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

#contact .contact-box{

    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
    box-shadow: 0px 1px 15px 1px;
    border-radius: 5px;
    margin:2%;
    width: 45%;
    height: 200px;
    
}

#contact .contact-box:hover{
    box-shadow: 0px 0px 5px 1px;
    transition: 0.2s ease box-shadow;
    

}

#contact .icon{
    width: 70px;
}

#footer{
    background-image:linear-gradient(60deg, rgb(24, 24, 24) 0%, rgb(53, 53, 53) 100%); 
}

#footer .footer {
    min-height: 35vh;
    /* height: 300px;  */
    
    
}

#footer .social-icons img{
    width: 50px;
}

#footer .footer {
    display: flex;
    flex-direction: column;
    

}

#footer .brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#footer .brand {
    color:white;
    
}

#footer h1 {
    font-weight: 100;
    text-align: center;

    font-size: 2rem;
}

#footer p{
    color: white;
    text-align: center;

}

@media only screen and (max-width: 740px){


    #nav{

        position: fixed;
        width: 100%;
        height: 6vh;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 25px;

    }

    .burger{
        position: fixed;
        z-index: 2;
        display: block;
        cursor: pointer;
        
        right: 0;
        margin-right: 20px;
        
    }

    .burger div{
        width: 25px;
        height: 3px;
        color:white;
        margin:5px;
        background-color: white;
        
    }

    #nav .logo a{
        font-size: 3.2rem;
        color: transparent;
        transition: 1s ease;
        font-weight: 300;

    
    }
    
    #nav .logo a span{
        font-size: 3.2rem;
        font-weight: 300;
        color: transparent;
        transition: 1s ease;
        
    }

    .nav-links{
        position: fixed;
        right: 0;
        bottom: 0;
        background-color: #181818;
        width: 35%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        transform: translateX(100%);
    }

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
    }

    .nav-links li{
        list-style: none;
    }
    .nav-links li a{
        font-size: 2.0rem;
        color:white;
    }
    .nav-links li a:hover{
        color : rgb(173, 141, 80)
    }
}

@media only screen and (min-width: 740px){

    #nav{
        position: fixed;
        width: 100%;
        display:flex;
        justify-content: space-around;
        align-items: center;
        height: 10vh; 
        z-index: 3;
        background-image: none;
        transition: 1s ease;
    }
    
    #nav .logo a{
        font-size: 3.2rem;
        color: transparent;
        transition: 1s ease;
        font-weight: 300;

    
    }
    
    #nav .logo a span{
        font-size: 3.2rem;
        font-weight: 300;
        color: transparent;
        transition: 1s ease;
    
    }
    
    
    
    #nav .nav-links a:hover{
        color:rgb(173, 141, 80);
    }
    
    #nav .nav-links{
        width: 54%;
        margin-left: 10%;
    }
    
    #nav .nav-links ul{
        display: flex;
        justify-content: space-between;
        
        
    }
    
    #nav .nav-links li{
        display: flex;
        list-style: none;
        
    }

    
    #nav .nav-links li a{
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 500;
        color:white;
        transition: 0s;
    }

    #hero h1{
        font-size: 6.5rem;
        font-weight: 300;
    }

    /* Description Section */
    #description .description-bottom{
        display: flex;
    }

    #description .description-item{
        flex-basis: 45%;
        margin: 2.5%;
    }
    /* End Description Section */

    /* Discovery Section */
    #discoverys .discovery-item{
        width: 100%;
        padding: 0;
        margin: 0;
        border-radius: 0;
        flex-direction: row;
        flex-basis: 50%;
        
    }

    #discoverys .discovery-item:nth-child(even){
        flex-direction: row-reverse;
    }

    #discoverys .discovery-info{
        width: 50%;
        
    }

    #discoverys .discovery-image{
        transform: scaleY(1.1);
        width: 50%;


    }
    /* End Discovery Section */

    #about .about{
        flex-direction: row-reverse;
        max-width: 1200px;
        text-align: center;
        width: 85%;
    
    }

    #contact .contact-boxes{

        flex-direction: row;
        
    }

    #contact .contact-box{
        
        flex-basis: 30%;
        max-width: 280px;

    }
}

@keyframes overlay{
    50%{
        width: 100%;
        left:0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes textReveal{
    to{
        color:white;
    }
}

.nav-links-active{
    
    transform: translateX(0%)
}

/* Media Queries for tablet */

