@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

html{
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    
}

a{
    text-decoration: none;
}

p{
    color:black;
    line-height: 1.9rem;
    font-size: 1.4rem;
    text-align: left;
}

span{
    color:rgb(173, 141, 80);
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Hero Section */
#hero{
    background-image: url('images/eu.png');
    background-position: top left;
    background-size: cover;
    
}


#hero .hero{
    position: relative;
    justify-content: flex-start;

    padding: 0px 50px;
    z-index: 1;
}

#hero .hero::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: black;
    opacity: 0.6;
    z-index: -1;

}

#hero h1{
    position: relative;
    display: block;
    width: fit-content;
    color:transparent;
    font-size: 4rem;
    animation: textReveal 1s forwards;
    animation-delay: 1.5s;
}



#hero span{
    position: absolute;
    background-color: rgb(173, 141, 80);
    top:0;
    left:0;
    width: 0%;
    height: 100%;
    animation: overlay 1s forwards;
    animation-delay: 1s;
}

.cta{
    display: inline-block;
    font-size: 4rem;
    margin-top: 50px;
    color:white;
    border: white solid 2px;
    padding: 15px 80px;
    font-weight:300;
    font-size: 2rem;
}

.cta:hover{
    background-color: white;
    color:black;
    transition: 1s ease;
}


/* End Hero Section */

/* Description Section */
    /* Top */
#description .description{
    flex-direction: column;
    justify-content: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
    /* align-items: center; */

}

#description .description-top{
    width: 85%;
    text-align: center;
}

#description .description-top h1{
    font-size: 5rem;
    margin-bottom: 25px;
    font-weight: 500;
}

#description .description-top p{
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    margin-bottom: 50px;
}
    /* End Top */
    
    /* Bottom */
#description .description-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    margin-top: 50px;
}

#description .description-item{
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    padding: 30px;
    margin-top: 15px;
    border-radius: 10px;
    background-image: url('./images/owl2.jpg');
    background-size: cover;
    margin: 10px;
    background-position: top center;
    position: relative;
    overflow: hidden;
    z-index: 0;
    
}

#description .description-item::after{
    content: "";
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    opacity: 0.6;
    z-index: -1;
    
}

#description .description-bottom h1{
    font-size: 2.5rem;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
}
#description .description-bottom p{
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    font-weight: 100;
}


#description .description-bottom .icon{
    width: 60px;
    margin-bottom: 15px;
}

    /* End Bottom */
/* End description Section */
#discoverys .discoverys{
    display: flex;
    flex-direction: column;
    text-align: left;

}

#discoverys .discovery-header{

    text-align: center;
    font-weight:300;
    font-size: 2.8rem;
    
    width:80%;
    margin: 40px auto;


}

#discoverys .discovery-items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    
}

#discoverys .discovery-item{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    width: 80%;
    margin-bottom: 40px;
    background-image: linear-gradient(60deg, rgb(24, 24, 24) 0%, rgb(53, 53, 53) 100%);
    border-radius: 10px;
    overflow: hidden;
    
}


#discoverys  .discovery-info{
    padding: 30px;
}

#discoverys .discovery-item h1{
    font-size: 3.5rem;
    margin-bottom: 5px;
    color: white;
    font-weight: 300;

}

#discoverys .discovery-item h2{
    font-size: 2rem;
    margin-bottom: 5px;
    color: white;
    font-weight: 200;


}

#discoverys .discovery-item p{
    font-size: 1.6rem;
    color: white;
    font-weight: 100;

}


#discoverys .discovery-image{
    overflow: hidden;
    position: relative;
}



#discoverys .discovery-image::after{
    position: absolute;
    content: "";
    left:0;
    top:0;
    width: 100%;    
    height: 100%;
    background-color: black;
    opacity: 0.3;
}


#discoverys .discovery-image img{
    height: 330px;
    transition: transform 0.2s;
}


#discoverys .discovery-item:hover img{
    transform: scale(1.2);
    

}


/* end Discovery Section  */
@media only screen and (min-width: 740px){

    #hero h1{
        font-size: 6.5rem;
    }

    /* Description Section */
    #description .description-bottom{
        display: flex;
    }

    #description .description-item{
        flex-basis: 45%;
        margin: 2.5%;
    }
    /* End Description Section */

    /* Discovery Section */
    #discoverys .discovery-item{
        width: 100%;
        padding: 0;
        margin: 0;
        border-radius: 0;
        flex-direction: row;
        flex-basis: 50%;
        
    }

    #discoverys .discovery-item:nth-child(even){
        flex-direction: row-reverse;
    }

    #discoverys .discovery-info{
        width: 50%;
        
    }

    #discoverys .discovery-image{
        transform: scaleY(1.1);
        width: 50%;


    }
    /* End Discovery Section */

}

/* About Section */
.cta:nth-child(2){
    cursor: pointer;
    color:black;
    border: black solid 2px;
}
.cta:nth-child(2):hover{
    background-color: black;
    color:white;
}
/* End About Section */


@keyframes overlay{
    50%{
        width: 100%;
        left:0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes textReveal{
    to{
        color:white;
    }
}


/* Media Queries for tablet */

